USE [master]
GO
/****** Object:  Database [ApplicationDb]    Script Date: 6/14/2021 10:00:43 PM ******/
CREATE DATABASE [ApplicationDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApplicationDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ApplicationDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ApplicationDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ApplicationDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApplicationDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApplicationDb]
GO
USE [ApplicationDb]
GO
/****** Object:  Table [dbo].[tblAnnouncement]    Script Date: 6/14/2021 10:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAnnouncement](
	[AnnouncementId] [int] IDENTITY(1,1) NOT NULL,
	[Source] [char](3) NULL,
	[Message] [varchar](500) NULL,
	[Detail] [varchar](8000) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblAnnouncement] PRIMARY KEY CLUSTERED 
(
	[AnnouncementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblApplicationSettings]    Script Date: 6/14/2021 10:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApplicationSettings](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NULL,
	[ApplicationName] [varchar](200) NULL,
	[AutoBackUp] [bit] NULL,
	[AutoBackUpDuration] [varchar](200) NULL,
 CONSTRAINT [PK_tblApplicationSettings] PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBusiness]    Script Date: 6/14/2021 10:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBusiness](
	[BusinessId] [int] NOT NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](300) NULL,
	[CreatedOn] [datetime] NULL,
	[Status] [tinyint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tblBusiness] PRIMARY KEY CLUSTERED 
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBusinessDetailReport]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBusinessDetailReport](
	[BusinessDetailReportId] [bigint] IDENTITY(1,1) NOT NULL,
	[UploaderId] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[CSPCode] [varchar](50) NULL,
	[SavingsAccountEnrollment] [int] NULL,
	[SavingsAccountOpen] [int] NULL,
	[SHGAccountEnrollment] [int] NULL,
	[SHGAccountOpen] [int] NULL,
	[StateATMCards] [int] NULL,
	[CashReceiptNo] [int] NULL,
	[CashReceiptAmount] [decimal](19, 6) NULL,
	[CashPaymentNo] [int] NULL,
	[CashPaymentAmount] [decimal](19, 6) NULL,
	[FundTransferNo] [int] NULL,
	[FundTransferAmount] [decimal](19, 6) NULL,
	[MoneyTransferNo] [int] NULL,
	[MoneyTransferAmount] [decimal](19, 6) NULL,
	[IMPSNo] [int] NULL,
 CONSTRAINT [PK_tblBusinessDetailReport] PRIMARY KEY CLUSTERED 
(
	[BusinessDetailReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[CategoryId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Code] [varchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCity]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCity](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[StateId] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblCity] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCommissionReport]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCommissionReport](
	[CommissionReportId] [bigint] IDENTITY(1,1) NOT NULL,
	[CSPCode] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[CommissionReportTransactionType] [int] NULL,
	[NumberOfTransactions] [bigint] NULL,
	[Commission] [decimal](19, 6) NULL,
 CONSTRAINT [PK_tblCommissionReport] PRIMARY KEY CLUSTERED 
(
	[CommissionReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCommissionReportTransactionType]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCommissionReportTransactionType](
	[CommissionReportTransactionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[HOCommission] [decimal](18, 0) NULL,
	[CSPCommission] [decimal](18, 0) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblCommissionReportTransactionType] PRIMARY KEY CLUSTERED 
(
	[CommissionReportTransactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblConfiguration]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblConfiguration](
	[ConfigurationId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NULL,
	[DeactiveAccountDaysForInvalidPwd] [int] NULL,
	[LockAccountDaysForInvalidPwd] [int] NULL,
	[AutoUnlockAccountMinutes] [int] NULL,
	[PasswordAutoExpireInDays] [int] NULL,
	[IsPasswordNeverExpired] [bit] NULL,
	[ChangedPwdOnNextLogin] [bit] NULL,
	[PasswordLength] [int] NULL,
	[NotifiedToCSP] [bit] NULL,
 CONSTRAINT [PK_tblConfiguration] PRIMARY KEY CLUSTERED 
(
	[ConfigurationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCountry]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCountry](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblCountry] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCSPDetail]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCSPDetail](
	[CSPId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[CSPCode] [varchar](100) NULL,
	[BranchCode] [varchar](100) NULL,
	[CityId] [int] NULL,
	[ExpiryDate] [date] NULL,
	[BankName] [varchar](50) NULL,
	[BankAccountNumber] [varchar](50) NULL,
	[IFSC] [varchar](50) NULL,
	[FatherName] [varchar](200) NULL,
	[MotherName] [varchar](200) NULL,
	[EmailId] [varchar](200) NULL,
	[EmergencyContactNumber] [varchar](100) NULL,
	[PAN] [varchar](20) NULL,
	[VoterId] [varchar](50) NULL,
	[AadharNo] [varchar](50) NULL,
	[ProfilePicSource] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Education] [varchar](50) NULL,
	[VoterIdSource] [varchar](200) NULL,
	[PANSource] [varchar](200) NULL,
	[AadharCardSource] [varchar](200) NULL,
	[EducationProofSource] [varchar](200) NULL,
	[IIBFCertificationSource] [varchar](200) NULL,
 CONSTRAINT [PK_tblCSPDetail] PRIMARY KEY CLUSTERED 
(
	[CSPId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDepartment]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepartment](
	[DepartmentId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_tblDepartment] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDepositRequest]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepositRequest](
	[DepositeRequestId] [bigint] NOT NULL,
	[Amount] [decimal](19, 6) NULL,
	[RaisedBy] [int] NULL,
	[Status] [tinyint] NULL,
	[RequestedDate] [datetime] NULL,
	[CompletionDate] [datetime] NULL,
	[HasReceipt] [bit] NULL,
	[ReceiptSource] [varchar](200) NULL,
	[IsVerified] [bit] NULL,
	[ResolutionDetail] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblDepositRequest] PRIMARY KEY CLUSTERED 
(
	[DepositeRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDesignation]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDesignation](
	[DesignationId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_tblDesignation] PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDocuments]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDocuments](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[Source] [char](3) NULL,
	[Name] [varchar](200) NULL,
	[Detail] [varchar](500) NULL,
	[FilePath] [varchar](200) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblDocuments] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEducation]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEducation](
	[EducationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblEducation] PRIMARY KEY CLUSTERED 
(
	[EducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblErrorLog]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblErrorLog](
	[ErrorLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[LogDate] [datetime] NULL,
	[UserId] [int] NULL,
	[Detail] [varchar](500) NULL,
	[IpAddress] [varchar](200) NULL,
 CONSTRAINT [PK_tblErrorLog] PRIMARY KEY CLUSTERED 
(
	[ErrorLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFolderDetails]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFolderDetails](
	[FolderId] [int] IDENTITY(1,1) NOT NULL,
	[FolderName] [varchar](100) NOT NULL,
	[Priority] [tinyint] NOT NULL,
	[InActive] [bit] NOT NULL,
 CONSTRAINT [PK_tblFolderDetails] PRIMARY KEY CLUSTERED 
(
	[FolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFolderImageDetails]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFolderImageDetails](
	[FolderImageId] [int] IDENTITY(1,1) NOT NULL,
	[FolderId] [int] NOT NULL,
	[UploadedBy] [int] NOT NULL,
	[UploadedDate] [datetime] NOT NULL,
	[InActive] [bit] NOT NULL,
	[ImageName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tblFolderImageDetails] PRIMARY KEY CLUSTERED 
(
	[FolderImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoliday]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoliday](
	[Id] [int] NOT NULL,
	[Name] [varchar](200) NULL,
	[Date] [date] NULL,
	[Status] [tinyint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tblHoliday] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProblemType]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProblemType](
	[ProblemTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblProblemType] PRIMARY KEY CLUSTERED 
(
	[ProblemTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblReportType]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReportType](
	[ReportTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblReportType] PRIMARY KEY CLUSTERED 
(
	[ReportTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRequestType]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRequestType](
	[RequestId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblRequestType] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoleMaster]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoleMaster](
	[RoleId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_tblRoleMaster] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblScreen]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblScreen](
	[ScreenId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblScreen] PRIMARY KEY CLUSTERED 
(
	[ScreenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblScreenRole]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblScreenRole](
	[ScreenId] [int] NOT NULL,
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Access] [tinyint] NULL,
	[LastUpdatedOn] [datetime] NULL,
	[LastUpdatedBy] [int] NULL,
 CONSTRAINT [PK_tblScreenRole] PRIMARY KEY CLUSTERED 
(
	[ScreenId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblState]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblState](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[CountryId] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblState] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatus](
	[StatusId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_tblStatus] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTechRequest]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTechRequest](
	[TechRequestId] [bigint] IDENTITY(1,1) NOT NULL,
	[Summary] [varchar](200) NULL,
	[ProblemType] [int] NULL,
	[Description] [varchar](500) NULL,
	[MobileNo] [varchar](20) NULL,
	[RaisedBy] [int] NULL,
	[Status] [tinyint] NULL,
	[RequestedDate] [datetime] NULL,
	[CompletionDate] [datetime] NULL,
	[ResolutionProvidedBy] [int] NULL,
	[ResolutionDetail] [varchar](500) NULL,
	[Attachment] [varchar](200) NULL,
	[AttachmentSource] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_tblTechRequest] PRIMARY KEY CLUSTERED 
(
	[TechRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUploader]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUploader](
	[UploaderId] [int] IDENTITY(1,1) NOT NULL,
	[ReportType] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[FileName] [varchar](200) NULL,
	[FileSource] [varchar](200) NULL,
	[ApplyTDS] [decimal](10, 9) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_tblUploader] PRIMARY KEY CLUSTERED 
(
	[UploaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserDetail]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserDetail](
	[UserDetailId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[FatherName] [varchar](200) NULL,
	[MotherName] [varchar](200) NULL,
	[EmailId] [varchar](200) NULL,
	[MobileNumber] [varchar](20) NULL,
	[CityId] [int] NULL,
	[Address] [varchar](300) NULL,
	[EmergencyContactNumber] [varchar](100) NULL,
	[DepartmentId] [int] NULL,
	[DesignationId] [int] NULL,
	[Qualification] [varchar](200) NULL,
	[ProfilePicSource] [varchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[CreaterdBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UserId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserLoginLog]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserLoginLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[LoginTimeStamp] [datetime] NULL,
	[IpAddress] [varchar](200) NULL,
	[HostName] [varchar](200) NULL,
 CONSTRAINT [PK_tblUserLoginLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 6/14/2021 10:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
	[UserType] [tinyint] NULL,
	[UserSourceId] [int] NULL,
	[Status] [tinyint] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblWebFeedback]    Script Date: 6/14/2021 10:00:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWebFeedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[Requestor] [varchar](200) NULL,
	[EmailId] [varchar](200) NULL,
	[MobileNo] [varchar](20) NULL,
	[Message] [varchar](500) NULL,
	[receivedOn] [datetime] NULL,
	[IsReplied] [bit] NULL,
	[RepliedBy] [int] NULL,
 CONSTRAINT [PK_tblWebFeedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblWithdrawalRequest]    Script Date: 6/14/2021 10:00:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWithdrawalRequest](
	[WithdrawalRequestId] [bigint] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](19, 6) NULL,
	[RaisedBy] [int] NULL,
	[Status] [tinyint] NULL,
	[RequestedDate] [datetime] NULL,
	[CompletionDate] [datetime] NULL,
	[IsConfigured] [bit] NULL,
	[IsMake] [bit] NULL,
	[IsAuthorized] [bit] NULL,
	[ResolutionDetail] [varchar](500) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[Account] [bigint] NULL,
 CONSTRAINT [PK_tblWithdrawalRequest] PRIMARY KEY CLUSTERED 
(
	[WithdrawalRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblApplicationSettings] ON 

INSERT [dbo].[tblApplicationSettings] ([SettingId], [BusinessId], [ApplicationName], [AutoBackUp], [AutoBackUpDuration]) VALUES (1, 1, N'test Bus A', 1, N'Daily')
INSERT [dbo].[tblApplicationSettings] ([SettingId], [BusinessId], [ApplicationName], [AutoBackUp], [AutoBackUpDuration]) VALUES (2, 2, N'TestBusi B', 0, N'Daily')
SET IDENTITY_INSERT [dbo].[tblApplicationSettings] OFF
SET IDENTITY_INSERT [dbo].[tblBusiness] ON 

INSERT [dbo].[tblBusiness] ([BusinessId], [Name], [Description], [CreatedOn], [Status]) VALUES (1, N'BusinessA', N'This is business A', NULL, 3)
INSERT [dbo].[tblBusiness] ([BusinessId], [Name], [Description], [CreatedOn], [Status]) VALUES (2, N'Business B', N'Business b', NULL, 5)
SET IDENTITY_INSERT [dbo].[tblBusiness] OFF
SET IDENTITY_INSERT [dbo].[tblCity] ON 

INSERT [dbo].[tblCity] ([CityId], [Name], [StateId], [Status]) VALUES (1, N'Gurgaon', 1, 1)
SET IDENTITY_INSERT [dbo].[tblCity] OFF
SET IDENTITY_INSERT [dbo].[tblConfiguration] ON 

INSERT [dbo].[tblConfiguration] ([ConfigurationId], [BusinessId], [DeactiveAccountDaysForInvalidPwd], [LockAccountDaysForInvalidPwd], [AutoUnlockAccountMinutes], [PasswordAutoExpireInDays], [IsPasswordNeverExpired], [ChangedPwdOnNextLogin], [PasswordLength], [NotifiedToCSP]) VALUES (1, 2, 0, 300, 400, 500, 1, 1, 800, 1)
INSERT [dbo].[tblConfiguration] ([ConfigurationId], [BusinessId], [DeactiveAccountDaysForInvalidPwd], [LockAccountDaysForInvalidPwd], [AutoUnlockAccountMinutes], [PasswordAutoExpireInDays], [IsPasswordNeverExpired], [ChangedPwdOnNextLogin], [PasswordLength], [NotifiedToCSP]) VALUES (3, 1, 2, 3, 4, 5, 1, 1, 8, 1)
INSERT [dbo].[tblConfiguration] ([ConfigurationId], [BusinessId], [DeactiveAccountDaysForInvalidPwd], [LockAccountDaysForInvalidPwd], [AutoUnlockAccountMinutes], [PasswordAutoExpireInDays], [IsPasswordNeverExpired], [ChangedPwdOnNextLogin], [PasswordLength], [NotifiedToCSP]) VALUES (5, 1, 9, 8, 7, 6, 0, 0, 9, 0)
SET IDENTITY_INSERT [dbo].[tblConfiguration] OFF
SET IDENTITY_INSERT [dbo].[tblCountry] ON 

INSERT [dbo].[tblCountry] ([CountryId], [Name], [Status]) VALUES (2, N'India', 1)
SET IDENTITY_INSERT [dbo].[tblCountry] OFF
SET IDENTITY_INSERT [dbo].[tblCSPDetail] ON 

SET IDENTITY_INSERT [dbo].[tblCSPDetail] OFF
SET IDENTITY_INSERT [dbo].[tblFolderDetails] ON 

INSERT [dbo].[tblFolderDetails] ([FolderId], [FolderName], [Priority], [InActive]) VALUES (1, N'2021', 1, 0)
INSERT [dbo].[tblFolderDetails] ([FolderId], [FolderName], [Priority], [InActive]) VALUES (2, N'2020', 2, 0)
SET IDENTITY_INSERT [dbo].[tblFolderDetails] OFF
SET IDENTITY_INSERT [dbo].[tblProblemType] ON 

INSERT [dbo].[tblProblemType] ([ProblemTypeId], [Name], [Status]) VALUES (1, N'Technical', 1)
INSERT [dbo].[tblProblemType] ([ProblemTypeId], [Name], [Status]) VALUES (2, N'Support', NULL)
SET IDENTITY_INSERT [dbo].[tblProblemType] OFF
SET IDENTITY_INSERT [dbo].[tblReportType] ON 

INSERT [dbo].[tblReportType] ([ReportTypeId], [Name], [Status]) VALUES (1, N'Commission', 0)
INSERT [dbo].[tblReportType] ([ReportTypeId], [Name], [Status]) VALUES (2, N'Business Detail', 0)
SET IDENTITY_INSERT [dbo].[tblReportType] OFF
SET IDENTITY_INSERT [dbo].[tblRoleMaster] ON 

INSERT [dbo].[tblRoleMaster] ([RoleId], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[tblRoleMaster] ([RoleId], [Name]) VALUES (2, N'Super Admin')
INSERT [dbo].[tblRoleMaster] ([RoleId], [Name]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[tblRoleMaster] OFF
SET IDENTITY_INSERT [dbo].[tblState] ON 

INSERT [dbo].[tblState] ([StateId], [Name], [CountryId], [Status]) VALUES (1, N'Haryana', 2, 1)
SET IDENTITY_INSERT [dbo].[tblState] OFF
SET IDENTITY_INSERT [dbo].[tblStatus] ON 

INSERT [dbo].[tblStatus] ([StatusId], [Type], [Name]) VALUES (1, N'1', N'Open')
INSERT [dbo].[tblStatus] ([StatusId], [Type], [Name]) VALUES (2, N'2', N'In-Progress')
INSERT [dbo].[tblStatus] ([StatusId], [Type], [Name]) VALUES (3, N'3', N'Completed')
SET IDENTITY_INSERT [dbo].[tblStatus] OFF
SET IDENTITY_INSERT [dbo].[tblTechRequest] ON 

INSERT [dbo].[tblTechRequest] ([TechRequestId], [Summary], [ProblemType], [Description], [MobileNo], [RaisedBy], [Status], [RequestedDate], [CompletionDate], [ResolutionProvidedBy], [ResolutionDetail], [Attachment], [AttachmentSource], [CreatedDate], [UpdatedBy], [UpdatedDate], [CreatedBy]) VALUES (3, N'This is test', 1, N'test', N'8822282', 1, 2, CAST(N'2021-05-22T19:41:06.570' AS DateTime), NULL, NULL, NULL, NULL, NULL, CAST(N'2021-05-19T19:41:06.570' AS DateTime), NULL, CAST(N'2021-05-19T19:41:06.570' AS DateTime), NULL)
INSERT [dbo].[tblTechRequest] ([TechRequestId], [Summary], [ProblemType], [Description], [MobileNo], [RaisedBy], [Status], [RequestedDate], [CompletionDate], [ResolutionProvidedBy], [ResolutionDetail], [Attachment], [AttachmentSource], [CreatedDate], [UpdatedBy], [UpdatedDate], [CreatedBy]) VALUES (4, N'This is test', 1, N'test', N'8822282', 1, 3, CAST(N'2021-05-22T19:41:06.570' AS DateTime), NULL, NULL, N'<b>This is resolution details</b>', NULL, NULL, CAST(N'2021-05-19T19:41:06.570' AS DateTime), NULL, CAST(N'2021-05-19T19:41:06.570' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblTechRequest] OFF
SET IDENTITY_INSERT [dbo].[tblUploader] ON 

INSERT [dbo].[tblUploader] ([UploaderId], [ReportType], [Month], [Year], [FileName], [FileSource], [ApplyTDS], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, 1, 6, 2021, N'TestExcel.xlsx', NULL, NULL, NULL, NULL, CAST(N'2021-05-19T19:39:38.207' AS DateTime), NULL)
INSERT [dbo].[tblUploader] ([UploaderId], [ReportType], [Month], [Year], [FileName], [FileSource], [ApplyTDS], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, 1, 6, 2021, N'TestExcel.xlsx', NULL, CAST(3.400000000 AS Decimal(10, 9)), NULL, NULL, CAST(N'2021-05-19T19:39:38.207' AS DateTime), NULL)
INSERT [dbo].[tblUploader] ([UploaderId], [ReportType], [Month], [Year], [FileName], [FileSource], [ApplyTDS], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, 1, 6, 2021, N'TestExcel.xlsx', NULL, NULL, NULL, NULL, CAST(N'2021-06-04T14:07:28.897' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblUploader] OFF
SET IDENTITY_INSERT [dbo].[tblUsers] ON 

INSERT [dbo].[tblUsers] ([UserId], [UserName], [Password], [UserType], [UserSourceId], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'dilpreet', N'123456', 1, 1, 1, CAST(N'2021-05-19T19:39:38.207' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblUsers] OFF
ALTER TABLE [dbo].[tblCSPDetail] ADD  CONSTRAINT [DF_tblCSPDetail_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblCSPDetail] ADD  CONSTRAINT [DF_tblCSPDetail_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[tblDepositRequest] ADD  CONSTRAINT [DF_tblDepositRequest_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblDepositRequest] ADD  CONSTRAINT [DF_tblDepositRequest_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[tblFolderImageDetails] ADD  CONSTRAINT [DF_tblFolderImageDetails_UploadedDate]  DEFAULT (getdate()) FOR [UploadedDate]
GO
ALTER TABLE [dbo].[tblFolderImageDetails] ADD  CONSTRAINT [DF_tblFolderImageDetails_InActive]  DEFAULT ((1)) FOR [InActive]
GO
ALTER TABLE [dbo].[tblTechRequest] ADD  CONSTRAINT [DF_tblTechRequest_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblTechRequest] ADD  CONSTRAINT [DF_tblTechRequest_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[tblUploader] ADD  CONSTRAINT [DF_tblUploader_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblUploader] ADD  CONSTRAINT [DF_tblUploader_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[tblUserDetail] ADD  CONSTRAINT [DF_tblUserDetail_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblUsers] ADD  CONSTRAINT [DF_tblUsers_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblWithdrawalRequest] ADD  CONSTRAINT [DF_tblWithdrawalRequest_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblWithdrawalRequest] ADD  CONSTRAINT [DF_tblWithdrawalRequest_UpdatedDate]  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[tblApplicationSettings]  WITH CHECK ADD  CONSTRAINT [FK_tblApplicationSettings_tblBusiness] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[tblBusiness] ([BusinessId])
GO
ALTER TABLE [dbo].[tblApplicationSettings] CHECK CONSTRAINT [FK_tblApplicationSettings_tblBusiness]
GO
ALTER TABLE [dbo].[tblBusinessDetailReport]  WITH CHECK ADD  CONSTRAINT [FK_tblBusinessDetailReport_tblUploader] FOREIGN KEY([UploaderId])
REFERENCES [dbo].[tblUploader] ([UploaderId])
GO
ALTER TABLE [dbo].[tblBusinessDetailReport] CHECK CONSTRAINT [FK_tblBusinessDetailReport_tblUploader]
GO
ALTER TABLE [dbo].[tblCity]  WITH CHECK ADD  CONSTRAINT [FK_tblCity_tblState] FOREIGN KEY([StateId])
REFERENCES [dbo].[tblState] ([StateId])
GO
ALTER TABLE [dbo].[tblCity] CHECK CONSTRAINT [FK_tblCity_tblState]
GO
ALTER TABLE [dbo].[tblCommissionReport]  WITH CHECK ADD  CONSTRAINT [FK_tblCommissionReport_tblCommissionReportTransactionType] FOREIGN KEY([CommissionReportTransactionType])
REFERENCES [dbo].[tblCommissionReportTransactionType] ([CommissionReportTransactionTypeId])
GO
ALTER TABLE [dbo].[tblCommissionReport] CHECK CONSTRAINT [FK_tblCommissionReport_tblCommissionReportTransactionType]
GO
ALTER TABLE [dbo].[tblConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_tblConfiguration_tblBusiness] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[tblBusiness] ([BusinessId])
GO
ALTER TABLE [dbo].[tblConfiguration] CHECK CONSTRAINT [FK_tblConfiguration_tblBusiness]
GO
ALTER TABLE [dbo].[tblCSPDetail]  WITH CHECK ADD  CONSTRAINT [FK_tblCSPDetail_tblCity] FOREIGN KEY([CityId])
REFERENCES [dbo].[tblCity] ([CityId])
GO
ALTER TABLE [dbo].[tblCSPDetail] CHECK CONSTRAINT [FK_tblCSPDetail_tblCity]
GO
ALTER TABLE [dbo].[tblCSPDetail]  WITH CHECK ADD  CONSTRAINT [FK_tblCSPDetail_tblUsers] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblCSPDetail] CHECK CONSTRAINT [FK_tblCSPDetail_tblUsers]
GO
ALTER TABLE [dbo].[tblCSPDetail]  WITH CHECK ADD  CONSTRAINT [FK_tblCSPDetail_tblUsers1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblCSPDetail] CHECK CONSTRAINT [FK_tblCSPDetail_tblUsers1]
GO
ALTER TABLE [dbo].[tblDepositRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblDepositRequest_tblCSPDetail] FOREIGN KEY([RaisedBy])
REFERENCES [dbo].[tblCSPDetail] ([CSPId])
GO
ALTER TABLE [dbo].[tblDepositRequest] CHECK CONSTRAINT [FK_tblDepositRequest_tblCSPDetail]
GO
ALTER TABLE [dbo].[tblDepositRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblDepositRequest_tblStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[tblStatus] ([StatusId])
GO
ALTER TABLE [dbo].[tblDepositRequest] CHECK CONSTRAINT [FK_tblDepositRequest_tblStatus]
GO
ALTER TABLE [dbo].[tblDepositRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblDepositRequest_tblUsers] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblDepositRequest] CHECK CONSTRAINT [FK_tblDepositRequest_tblUsers]
GO
ALTER TABLE [dbo].[tblDepositRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblDepositRequest_tblUsers1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblDepositRequest] CHECK CONSTRAINT [FK_tblDepositRequest_tblUsers1]
GO
ALTER TABLE [dbo].[tblFolderImageDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblFolderImageDetails_tblFolderDetails] FOREIGN KEY([FolderId])
REFERENCES [dbo].[tblFolderDetails] ([FolderId])
GO
ALTER TABLE [dbo].[tblFolderImageDetails] CHECK CONSTRAINT [FK_tblFolderImageDetails_tblFolderDetails]
GO
ALTER TABLE [dbo].[tblState]  WITH CHECK ADD  CONSTRAINT [FK_tblState_tblCountry] FOREIGN KEY([CountryId])
REFERENCES [dbo].[tblCountry] ([CountryId])
GO
ALTER TABLE [dbo].[tblState] CHECK CONSTRAINT [FK_tblState_tblCountry]
GO
ALTER TABLE [dbo].[tblTechRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblTechRequest_tblProblemType] FOREIGN KEY([ProblemType])
REFERENCES [dbo].[tblProblemType] ([ProblemTypeId])
GO
ALTER TABLE [dbo].[tblTechRequest] CHECK CONSTRAINT [FK_tblTechRequest_tblProblemType]
GO
ALTER TABLE [dbo].[tblTechRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblTechRequest_tblUsers] FOREIGN KEY([RaisedBy])
REFERENCES [dbo].[tblCSPDetail] ([CSPId])
GO
ALTER TABLE [dbo].[tblTechRequest] CHECK CONSTRAINT [FK_tblTechRequest_tblUsers]
GO
ALTER TABLE [dbo].[tblTechRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblTechRequest_tblUsers1] FOREIGN KEY([ResolutionProvidedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblTechRequest] CHECK CONSTRAINT [FK_tblTechRequest_tblUsers1]
GO
ALTER TABLE [dbo].[tblTechRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblTechRequest_tblUsers2] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblTechRequest] CHECK CONSTRAINT [FK_tblTechRequest_tblUsers2]
GO
ALTER TABLE [dbo].[tblTechRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblTechRequest_tblUsers3] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblTechRequest] CHECK CONSTRAINT [FK_tblTechRequest_tblUsers3]
GO
ALTER TABLE [dbo].[tblTechRequest]  WITH CHECK ADD  CONSTRAINT [fkey_Status_Detail] FOREIGN KEY([Status])
REFERENCES [dbo].[tblStatus] ([StatusId])
GO
ALTER TABLE [dbo].[tblTechRequest] CHECK CONSTRAINT [fkey_Status_Detail]
GO
ALTER TABLE [dbo].[tblUploader]  WITH CHECK ADD  CONSTRAINT [FK_tblUploader_tblReportType] FOREIGN KEY([ReportType])
REFERENCES [dbo].[tblReportType] ([ReportTypeId])
GO
ALTER TABLE [dbo].[tblUploader] CHECK CONSTRAINT [FK_tblUploader_tblReportType]
GO
ALTER TABLE [dbo].[tblUploader]  WITH CHECK ADD  CONSTRAINT [FK_tblUploader_tblUsers] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblUploader] CHECK CONSTRAINT [FK_tblUploader_tblUsers]
GO
ALTER TABLE [dbo].[tblUploader]  WITH CHECK ADD  CONSTRAINT [FK_tblUploader_tblUsers1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblUploader] CHECK CONSTRAINT [FK_tblUploader_tblUsers1]
GO
ALTER TABLE [dbo].[tblUserDetail]  WITH CHECK ADD  CONSTRAINT [FK_tblUserDetail_tblCity] FOREIGN KEY([CityId])
REFERENCES [dbo].[tblCity] ([CityId])
GO
ALTER TABLE [dbo].[tblUserDetail] CHECK CONSTRAINT [FK_tblUserDetail_tblCity]
GO
ALTER TABLE [dbo].[tblUserDetail]  WITH CHECK ADD  CONSTRAINT [FK_tblUserDetail_tblUsers] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblUserDetail] CHECK CONSTRAINT [FK_tblUserDetail_tblUsers]
GO
ALTER TABLE [dbo].[tblUserDetail]  WITH CHECK ADD  CONSTRAINT [FK_tblUserDetail_tblUsers1] FOREIGN KEY([CreaterdBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblUserDetail] CHECK CONSTRAINT [FK_tblUserDetail_tblUsers1]
GO
ALTER TABLE [dbo].[tblUserDetail]  WITH CHECK ADD  CONSTRAINT [FK_tblUserDetail_tblUsers2] FOREIGN KEY([UserId])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblUserDetail] CHECK CONSTRAINT [FK_tblUserDetail_tblUsers2]
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD  CONSTRAINT [FK_tblUsers_tblStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[tblStatus] ([StatusId])
GO
ALTER TABLE [dbo].[tblUsers] CHECK CONSTRAINT [FK_tblUsers_tblStatus]
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD  CONSTRAINT [FK_tblUsers_tblUsers] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblUsers] CHECK CONSTRAINT [FK_tblUsers_tblUsers]
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD  CONSTRAINT [FK_tblUsers_tblUsers1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblUsers] CHECK CONSTRAINT [FK_tblUsers_tblUsers1]
GO
ALTER TABLE [dbo].[tblWithdrawalRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblWithdrawalRequest_tblCSPDetail] FOREIGN KEY([RaisedBy])
REFERENCES [dbo].[tblCSPDetail] ([CSPId])
GO
ALTER TABLE [dbo].[tblWithdrawalRequest] CHECK CONSTRAINT [FK_tblWithdrawalRequest_tblCSPDetail]
GO
ALTER TABLE [dbo].[tblWithdrawalRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblWithdrawalRequest_tblStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[tblStatus] ([StatusId])
GO
ALTER TABLE [dbo].[tblWithdrawalRequest] CHECK CONSTRAINT [FK_tblWithdrawalRequest_tblStatus]
GO
ALTER TABLE [dbo].[tblWithdrawalRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblWithdrawalRequest_tblUsers] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblWithdrawalRequest] CHECK CONSTRAINT [FK_tblWithdrawalRequest_tblUsers]
GO
ALTER TABLE [dbo].[tblWithdrawalRequest]  WITH CHECK ADD  CONSTRAINT [FK_tblWithdrawalRequest_tblUsers1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblWithdrawalRequest] CHECK CONSTRAINT [FK_tblWithdrawalRequest_tblUsers1]
GO
USE [master]
GO
