<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/HTML/scss/custom.css">

</head>

<body id="login">
    <div id="bg-blue" class="vh-100 w-50 fixed-top d-none d-md-block"></div>
    <div class="container my-5" id="main-container">
        <div class="card-deck">
            <div class="card border-0 m-0 text-white d-flex justify-content-center align-items-center" id="login-left">
                <div class="p-md-5">
                    <h2>Welcome</h2>
                    <p>eConnect is a single platform to manage CSP's withdrawal, deposit and technical support request.</p>
                </div>
            </div>
            <div class="card border-0 m-0 bg-white" id="login-right">
                <div class="px-5 pt-5 pb-3">
                    <div class="logo text-center mb-3">
                        <img src="~/Content/HTML/img/e-gramin-logo.png" alt="" height="70" class="mb-2">
                    </div>                
                        @RenderBody()                    
                </div>
               
            </div>
        </div>

    </div>


    <script src="~/Content/HTML/js/jquery.min.js"></script>
    <script src="~/Content/HTML/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>