
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

<h4>An error occurred while processing your request. Kindly login again.</h4>
<li>@Html.ActionLink("login", "login", "Home")</li>