
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexImage</title>
</head>
<body>
    <div>
        <img id="Images" alt="Image" src="@Url.Content("ftp://econnect.anonyans:*-8zF3bU2HwsK8@anonyans.com/UploadedFiles/CSP/PassportSizePhoto/1.png")" ,text-align:center;" />

        @*<img id="img_logo" alt="Logo" src="@Url.Content("~/UploadedFiles/CSP/1/PassportSizePhoto/avatar-2.png")" ,text-align:center;" />*@
        @*<img src="~/UploadedFiles/CSP/1/PassportSizePhoto/avatar-2.png" />*@
    </div>
</body>
</html>
