@model IEnumerable<eConnect.DataAccess.tblLatestNew>
@{
    Layout = null;
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3 border-0">
                <img src="@Url.Content(item.NewsImagePath)" class="card-img-top" alt="...">
                <div class="card-body px-0">
                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.NewsSubject)</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.NewsDetails)</p>
                    <a href="@Url.Action("NewsDetails","Home", new { id=item.Id })" class="links">Learn more</a>
                </div>
            </div>
        </div>
    }
        @*<div class="col-md-4">
                <div class="card mb-3 border-0">
                    <img src="~/Content/EgraminAssets/assets/images/new-pic.png" class="card-img-top" alt="...">
                    <div class="card-body px-0">
                        <h5 class="card-title">Investment Banker in 2020 - Top Skills Required</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
                        <a href="news-details.html" class="links">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3 border-0">
                    <img src="~/Content/EgraminAssets/assets/images/new-pic.png" class="card-img-top" alt="...">
                    <div class="card-body px-0">
                        <h5 class="card-title">Investment Banker in 2020 - Top Skills Required</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
                        <a href="news-details.html" class="links">Learn more</a>
                    </div>
                </div>
            </div>*@
    </div>
