<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="eConnectAppEntities1" connectionString="metadata=res://*/eConnectAppEntities.csdl|res://*/eConnectAppEntities.ssdl|res://*/eConnectAppEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=148.72.244.51;initial catalog=eConnectApp;user id=eConnectApp;password=eConnectApp@12345;Integrated security=False;Trusted_Connection=True;MultipleActiveResultSets=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
    
    <add name="eConnectAppEntities" connectionString="metadata=res://*/eConnectAppEntities.csdl|res://*/eConnectAppEntities.ssdl|res://*/eConnectAppEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=148.72.244.51;initial catalog=eConnectAppUAT;persist security info=True;user id=eConnectApp;password=eConnectApp@12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
    
    <add name="eConnectAppEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-STS7QPBE\SQLEXPRESS;initial catalog=eConnectApp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>