
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutMainEgraminWeb.cshtml";
}

<h1 class="text-danger">Oops....</h1>
<h2 class="text-danger">There was a problem during the request ! Please try again.</h2>

