
@{
    Layout = "~/Views/Shared/_LayoutMainEgraminWeb.cshtml";
}

<div class="downloads py-5">
    <div class="container">
        <div class="title mb-3">
            <h3> Our <span> Branch</span></h3>
        </div>

        <div class="row">            
            <div class="col-md-6">
                <h5 class=""><strong> Reach Us</strong></h5>
                <p>You can also reach us through below given means.</p>
                <div class="d-flex mb-3">
                    <span class="mr-2"><i class="fa fa-home"></i></span>
                    <span>e-Gramin Services Pvt. Ltd <br />House No. 39, Sapta Swahid Path <br />Dispur, Guwahati - 781006<br />Assam, India</span>
                </div>
                <div class="d-flex mb-3">
                    <span class="mr-2"><i class="fa fa-envelope"></i></span>
                    <span>helpdesk.egramin@gmail.com</span>
                </div>
                <div class="d-flex mb-3">
                    <span class="mr-2"><i class="fa fa-phone"></i></span>
                    <span>0361-3511441</span>
                </div>
            </div>
        </div>


    </div>
</div>
<!--end of downloads-->