@{
    Layout = "~/Views/Shared/_LayoutMainEgraminWeb.cshtml";
}


<div class="downloads py-5">
    <div class="container">
        <div class="title mb-3">
            <h3>Our <span>Vision</span></h3>
        </div>

        <p>
            E-Gramin Services Pvt Ltd is an ISO Certified Private Limited Organization our Registered office in Dispur, Guwahati with Zonal Office in almost all districts of Assam. Our strong network presence in all the nook and corners of North-Eastern
            region. Our mission is to bring convenience to the consumer's doorstep, enabling them to access a diversified range of B2C services through a vibrant delivery mechanism by developing rural level entrepreneurs. And also bring inclusive
            prosperity by partnering with government agencies and financial institutions for citizen centric projects.
        </p>
        <p>
            To Promote Financial Inclusion Projects and bring awareness to the Rural Mass providing various Banking and Non-Banking services at their doorsteps.We are also operating with various National and Regional Rural banks as Business correspondent
            (BC) to provide kiosk Banking services in the NE Region.
        </p>

        <div class="partners py-5">
            <div class="container text-center">
                <div class="title mb-5">
                    <h3>Our Banking &amp;<span> Service Partner's</span></h3>
                </div>
                <img src="~/Content/EgraminAssets/assets/images/sbi.png" class="px-3">
                <img src="~/Content/EgraminAssets/assets/images/LIC-Logo.jpg" class="px-3">
                <img src="~/Content/EgraminAssets/assets/images/icici-bank-ne-logo.jpg" class="px-3">
                <img src="~/Content/EgraminAssets/assets/images/hdfc.png" class="px-3">
                <img src="~/Content/EgraminAssets/assets/images/nicjpg.jpeg" class="px-3">
                <img src="~/Content/EgraminAssets/assets/images/aprb.png" class="px-3">

            </div>
        </div>
        <!--end of partners-->
        <p>E-Gramin also providing Computer Education Centre ( ISO Certified 9001:2015).</p>
        <p>Apart from Education we are also dealing with IT & ITeS,Telecom etc.</p>
        <p>
            We have our existing network in various parts on Arunachal Pradesh operating various banking and non-banking centres so, have our expertise about the geographical locations and by the time we are able connect a good bonding with the local
            authorities and people. We also can ensure that we can involve maximum SHGs and also provide financial training by expert trainers (both technical and non technical part) covering financial literacy, facilitation services for recovery
            of NPA,awareness on insurance scheme etc. with the help of banking and insurance authorities.
        </p>

    </div>
</div>
<!--end of downloads-->