
@{
    ViewBag.Title = "CSP Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

    <section class="section">

        <h4>Coming Soon......</h4>    

    </section>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
<script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Active', 'Inactive', 'Blocked'],
                datasets: [{
                    label: '# of CSP Counts',
                    data: [@ViewBag.ActiveUsers, 390, 190],
                    barPercentage: 0.5,
                    barThickness: 50,
                    maxBarThickness: 60,
                    minBarLength: 2,
                    backgroundColor: [
                        '#3cb330',
                        '#0e3c2d',
                        '#f68d0c',

                    ],


                }]
            },
            options: {
                scales: {
                    /* yAxes: [{
                         ticks: {
                             beginAtZero: true
                         }
                     }]*/

                }
            }
        });
</script>*@

