
@{
    ViewBag.Title = "RoleDetails";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

@using (@Html.BeginForm("RoleDetails", "SAdmin", FormMethod.Get))
{@Html.AntiForgeryToken()
<section class="section">
    <p>
        @Html.ActionLink("Create New", "CreateRole")

    </p>
    <div class="card">
        <div class="card-body">
            <h6 class="text-primary mb-3"> Search Role</h6>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" id="Name" name="Name" class="form-control" />
                    </div>
                </div>
                <div class="my-4 text-right">
                    <button class="btn btn-primary px-4" type="button" onclick="LoadData()">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div id="RoleDetailsList">
    </div>
</section>
}
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
                $(function () {
                    alert("@TempData["Message"]")
                });
    </script>
}

<script type="text/javascript">
    $(document).ready(function () {
        LoadData()

    });
    function LoadData() {
        var rolename = $('#Name').val();
        $.ajax({
                type: "POST",
                url: '@Url.Action("RoleDetails", "SAdmin")',
            data: { roleid: rolename },
                dataType: 'html',
                success: function (data) {
                    $('#RoleDetailsList').html(data);
                }
            });
    }
</script>


